.bg-red
{
    background-color: red;
}
.bg-blue
{
    background-color: blue;
}
.bg-green
{
    background-color: green;
}
.bg-yellow
{
    background-color: yellow;
}
.bg-black
{
    background-color: black;
}
.bg-brown
{
    background-color: brown;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
    
li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: #111111;
}

li a.active 
{
    background-color: goldenrod;
}


